@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new client.</h1>
<br>
<form action="/client/new" method="post">
  <label for="client-name">Client name:</label>
  <input id="client-name" name="client-name" type="text">
  <select name="stylist-id">
    @foreach (var stylist in Model)
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <button type="submit">Add client to selected stylist</button>
</form>
<br>
<p><a href="/">Back home</a></p>
<p><a href="/client">View all clients</a></p>
