@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Welcome to the "Cut it again, Sam!" Stylist / Client managment app!</h1>
<h4><a href="/stylist">View Stylists</a></h4>
<h4><a href="/client">View Clients</a></h4>
