<p>Hello!</p>

<form action="/inventory" method="post">
  <label for="pony-name">My Little Pony's Name</label>
  <input  name="pony-name" type="text">
<br>
<br>
  <label for="pony-color">My Little Pony's Color<label>
  <input name="pony-color" type="text">
<br>
<br>
  <button type="submit">Add!</button>
</form>
